<html>
<head>

</head>
<body>


<h1>ATOMIC CHESS TABLE - AMAZON ALEXA VOICE EXTENTION</h1>



<form action="/register_table" method="get">

    <input type="text" name="hwid" placeholder="TABLE_HWID">
    <br>
    <input type="text" name="userPin" placeholder="USER PIN">
    <input type="submit" value="LINK DEVICES">

</form>

</body>
</html>