<html lang="en">

<head>
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">





  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/landing-page.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="AtomicChess">
  <meta name="author" content="Marcel Ochsendorf">
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />
  <title>ATC BACKEND</title>
</head>

<body class="container">

<nav class="navbar navbar-light bg-light static-top fhcolor_bg">
  <div class="container">
    <a class="navbar-brand" href="/"><img width="64px"  src="/img/icons/chess_icon.png"><b>AtomicChess</b></a>
    <a class="btn btn-dark" href="/webclient">Spiele gegen den Tisch</a>
  </div>
</nav>



<div class="jumbotron p-3 p-md-5 text-white rounded fhcolor_bg grad_header">
  <div class="col-md-6 px-0 ">
    <h1 class="display-4">Willkommen beim AtomicChessTable!</h1>
    <p class="lead my-3"><h5>Der autonome Schachtisch</h5></p>
    <p class="lead-3 mb-0"><h4>Eine Abschlussarbeit von Marcel Ochsendorf, Informatikstudent der <span class="font-weight-bold">FH-Aachen</span></h4></p>
  </div>
</div>




<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading"><a class="fhcolor_text" href="https://www.fh-aachen.de/studium/informatik-bsc">Informatik</a></h2>
    <p class="lead">

      Das Ziel dieser Arbeit ist es, einen Schach-Tisch zu konstruieren und programmieren, welcher in der Lage ist Schachfiguren autonom zu bewegen.
      Der Schwerpunkt liegt dabei insbesondere auf der Programmierung des eingebettenen Systems.
      Dieses besteht zum einem aus der Positionserkennung und Steuerung der Hardwarekomponenten (Schachfiguren) und zum anderen aus der Kommuniktation zwischen dem Tisch selbst und einem in einer Cloud befindlichen Server.
      <br>
      <br>
      Mittels der Informatik werden diverse Technologien von verschiedenen Einzelsystemen zu einem Gesamtprodukt zusammengesetzt.
      <br>
      <br>Zu diesen Einzelsystemen gehören:

    <ul>
      <li>Programmierung der Spiel-Logik, User-Interface, Hardware-Ansteuerung</li>
      <li>Kommuniktion mit einer Cloud-Intratruktur</li>
      <li>Implementierung der Spielflusssteuerung</li>
      <li>Backend mit Datenbankanbindung zur speicherung der Spiele </li>
    </ul>

    <br>

    <p class="lead">Hier bietet die <span class="fhcolor_text font-weight-bold">FH-Aachen</span> einen breit gefächerten Wahlmodulkatalog an,
    welchen einen dabei Untersützt sich in verschiedenen Bereichen zu spezialisieren.
    </p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" data-src="/img/rsz_img_7411.png" src="/img/rsz_img_7411.png" alt="code snipped illustration">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading"><a class="fhcolor_text" href="https://www.fh-aachen.de/fachbereiche/elektrotechnik-und-informationstechnik">Elektrotechnik und Informationstechnik</a></h2>
    <p class="lead">
      Damit ein System überhaupt erst programmiert werden kann, muss man sich Gedanken über die Elektronik und Verkabelung des Systems machen.
      <br>Welchen Hardware will ich eigentlich nutzen und warum?
      <br>Wie soll mein System später mit seiner Umwelt kommunizieren?
      <br><br>Im Laufe des Informatikstudium an der <span class="fhcolor_text font-weight-bold">FH-Aachen</span> wird man auch in grundlegender Elektronik unterrichtet.
      Auslegen von Platinen und Bauteilen, welche Treiber benötigen die Motoren oder welche Spezifikationen müssen berücksichtigt werden.
      <br><br>
      Insgesamt zwei Schrittmotoren für die X- und die Y-Beweung sind im Schachtisch verbaut.
      <br>
      Zudem sind noch zwei Elektromageneten im Tisch verbaut, die die Schachfiguren wie von Geisterhand über den Tisch ziehen.
      <br>
      Zusätzlich befinden sich unter jeder Kachel des Schachfelds, noch Magnetsensoren, um zu erkennen, ob der Spieler eine Figur bewegt.
      <br>
      Neben der Verkabelung dieser Steuerungs-Komponenten, enthält das System noch ein Display zur Eingabe von Befehlen durch den Benutzer.



    </p>
  </div>
  <div class="col-md-5 order-md-1">
    <img class="featurette-image img-fluid mx-auto" data-src="/img/rsz_img_7412.png" src="/img/rsz_img_7412.png" alt="Generic placeholder image">
  </div>
</div>

<!-- /END THE FEATURETTES -->

</div><!-- /.container -->











<!-- Footer -->
<footer class="footer bg-light">
  <div class="container text-center">




    <div class="row">
      <div class="col-lg-12 text-center text-lg-center my-auto">
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form action="/redirect" method="GET">
          <input type="hidden" name="destination" value="impressum"/>
          <input type="submit" class="btn btn-small btn-link" value="IMPRESSUM" />
          </form>
        </div>
      </div>
    </div>

  </div>


</footer>





<script src="/js/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

<script>
  $(document).ready(function () {
    console.log("ready!");
  });

  setInterval(function(){
          window.location.reload();
          },5000);
</script>

</body>

</html>
