<html lang="en">

<head>

  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">



  <link href="/css/landing-page.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/dashboard_main.css" rel="stylesheet">
  <link href="/css/dashboard_cards.css" rel="stylesheet">
  <link rel="stylesheet" href="/js/PGNViewer/css/pgnvjs.css">
  <link href="/css/font-awesome.min.css" rel="stylesheet">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="AtomicChess">
  <meta name="author" content="Marcel Ochsendorf">
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />
  <title>ATC BACKEND</title>
</head>

<body class="container">

<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="/"><img width="64px"  src="/img/icons/chess_icon.png"><b>AtomicChess</b></a>
  </div>
</nav>


<!-- Masthead -->




<div class="row justify-content-center">
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title text-justify">GAME HISTORY</h4>
    </div>
    <div class="card-body">
      <div class="text-center">
        <p class="card-content" id="listed_games"></p>
      </div>
    </div>
  </div>
</div>
</div>



<div class="row justify-content-center">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-justify">GAME INFORMATION <span id="game_headline_title"> -- ID --</span></h4>
      </div>
      <div class="card-body" id="game_information_container">
        <div class="text-center">

          <p class="card-content" id="game_info"></p>

          <div class="row justify-content-center">
            <div class="col-md-4">
              <div id="current_board" style="width: 200px"></div>
            </div>

            <div class="col-md-6">
              <table class="table">
                <tbody>
                <tr>
                  <th scope="row">PLAYER_TURN</th>
                  <td id="git_player_turn">---</td>

                </tr>
                <tr>
                  <th scope="row">IS_GAME_OVER</th>
                  <td id="git_game_over">---</td>

                </tr>
                <tr>
                  <th scope="row">START BOARD FEN</th>
                  <td id="git_start_board_fen">---</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>





<!-- Footer -->
<footer class="footer bg-light">
  <div class="container text-center">
    <div class="row top-buffer"><div class="col-md-12"><h4 class="card-title">SERVICE AVAILABILITY</h4></div></div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <table class="table table-responsive">
          <tbody>
          <tr>
            <th>BACKEND</th>
            <td><img id="sa_backend" width="64px" src="/img/icons/alert_off.png" /></td>
          </tr>
          <tr>
            <th>CHESS LOGIC VALIDATOR</th>
            <td><img id="sa_mv_validator" width="64px" src="/img/icons/alert_off.png" /></td>
          </tr>

          <tr>
            <th>AVAILABLE PLAYER AI INSTANCES</th>
            <td><span id="sa_aaipc"></span></td>
          </tr>
          </tbody>
        </table>

      </div>
      </div>
  </div>
</footer>






<script src="/js/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/PGNViewer/js/pgnvjs.js"></script>
<script>

  //https://stackoverflow.com/questions/5416920/timestamp-to-human-readable-format
  function getFormattedDate(_dt) {
    var date = new Date(_dt);

    var month = date.getMonth() + 1;
    var day = date.getDate();
    var hour = date.getHours();
    var min = date.getMinutes();
    var sec = date.getSeconds();
    //APPEND 0
    month = (month < 10 ? "0" : "") + month;
    day = (day < 10 ? "0" : "") + day;
    hour = (hour < 10 ? "0" : "") + hour;
    min = (min < 10 ? "0" : "") + min;
    sec = (sec < 10 ? "0" : "") + sec;
    var str = date.getFullYear() + "-" + month + "-" + day + "_" +  hour + ":" + min + ":" + sec;
    return str;
  }

  function check_service_state(){
    $.getJSON('/rest/service_state',function (data) {
      //GET MOVEMENT VALIDATOR MICROSERVICE STATE
      if(data && data.move_validator_state){
        $("#sa_mv_validator").attr("src", "/img/icons/cloud_offline.png");
      }else{
        $("#sa_mv_validator").attr("src", "/img/icons/cloud_online.png");
      }

    });
    //CHECK STATUS OF THE TABLE COMMUNICATION BACKEND
    $.getJSON('/rest/client_status',function (data) {
      if(data && data.status && !data.err){
        $("#sa_backend").attr("src", "/img/icons/cloud_online.png");
      }else{
        $("#sa_backend").attr("src", "/img/icons/cloud_online.png");
      }
    });

    //GET AVARIABLE AI PLAYER COUNT
    $.getJSON('/rest/get_avariable_ai_players',function (data) {

      if(data && data.count !== undefined&&data.count != null && data.count >=0) {
        $("#sa_aaipc").html("<b>"+String(data.count)+"</b>");
      }else{
        $("#sa_aaipc").html("---");
      }
    });

  }

  function load_game_information(_id){
    //debugger;
    $.getJSON('/rest/get_game?gid=' +_id,function (data) {
      //PROCESS GOT GAME LIST RESULT
      //debugger;

      if(!data || data.err || !data.game_data){
        return;
      }
      console.log(data);
      //SHOW ID
      $("#game_headline_title").html(String(data.game_data.game_id));
      //DISPLAY CURRENT BOARD
      if(data.game_data.current_board.fen){
        var current_board = pgnBoard('current_board', { position: data.game_data.current_board.fen, locale: 'en', pieceStyle: 'wikipedia', theme:'falken' });
      }


      //id="git_player_turn"
      //git_game_over
      //id="git_start_board_fen"
    //LOAD GAME INFO
    //VISULIZES MOVES
    });
    //SHOW CONTAINER
    toggle_visible_information_container(true);
  }
  function create_listed_games_table(){
    $.getJSON('/rest/get_game_list',function (data) {
      //PROCESS GOT GAME LIST RESULT
      if(!data || data.err || !data.game_data || !Array.isArray(data.game_data)){
      return;
      }



    //CREATE TABLE STRUCTURE AND HEADLINES
    var tmp_html = "<div class=\"table-responsive-sm\"><table class=\"table\">";
    tmp_html+="<thead><tr><th scope=\"col\">#</th><th scope=\"col\">CREATED</th><th scope=\"col\">PLAYER WHITE</th><th scope=\"col\">PLAYER BLACK</th><th scope=\"col\">MOVE COUNT</th><th scope=\"col\">GAME_STATE</th><th scope=\"col\">VIEW</th></tr></thead>";
    tmp_html+="<tbody>";
    //POPULATE TABLE BODY WITH ENTRIES
    for (let i= 0; i < data.game_data.length;i++){
      const entry = data.game_data[i];
      tmp_html+="<tr>";
      tmp_html+="<th scope=\"row\">"+String(i+1)+"</th>";

      tmp_html+="<th scope=\"row\">"+getFormattedDate(entry.created_timestamp)+"</th>";

      tmp_html+="<th scope=\"row\">"+entry.player_white_profile_name+"</th>";
      tmp_html+="<th scope=\"row\">"+entry.player_black_profile_name+"</th>";
      tmp_html+="<th scope=\"row\">"+entry.move_count+"</th>";
      var gsstring  = "UNKNOWN";
      switch (entry.game_state){
        case 0:gsstring = "STARTING";break;
        case 1:gsstring = "STARTING";break;
        case 8:gsstring = "RUNNING";break;
        case 9:gsstring = "RUNNING";break;

        case 10:gsstring = "FINISHED";break;
        case 11:gsstring = "FINISHED";break;

        case 12:gsstring = "CANCELED";break;
        default:gsstring = "UNKNOWN";break;
      }
      tmp_html+="<th scope=\"row\">"+gsstring+"</th>";


      tmp_html+="<th scope=\"row\"><button type=\"button\" onclick=\"load_game_information('"+entry.game_id+"')\" class=\"btn btn-info\">SHOW DETAILS</button></th>";
      tmp_html+="</tr>";

    }

    tmp_html += "</tbody></table></div>";


    $("#listed_games").html(tmp_html);

    });
  }

  function toggle_visible_information_container(_s) {
    var x = document.getElementById("game_information_container");
    if (_s) {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  $(document).ready(function () {


    console.log("ready!");
    //HIDE GAME INFORMATION
    toggle_visible_information_container(false);
    check_service_state();
    create_listed_games_table();
  });
</script>

</body>

</html>