<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>local_server</name>
  <description>running on the server host direcdtly</description>
  <remoteFS>/var/jenkins_build</remoteFS>
  <numExecutors>4</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.31.2">
    <host>127.0.0.1</host>
    <port>22</port>
    <credentialsId>7ecf882e-4ad1-47a4-829e-fee052b5d2a1</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>ATC_SERVER_AGENT</label>
  <nodeProperties/>
</slave>