body {
    padding-top: 50px;
}

.myimage{
    width: 100%;
    height: 100%;
}
.half_transparency{
    opacity: 0.5;

    filter: alpha(opacity=50); /* For IE8 and earlier */
}


.half_transparency_back{
    background:rgba(255, 255, 255, 0.7);
}
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */

#map {
    height: 400px;
}

html {
    /*background: url(/img/emma_pg.png) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.update_text {
    color: rgba(88, 88, 88, 0.7);
    font-size: 8px;
}



.impressum_text {
    color: rgba(192, 192, 192, 0.7);
    font-size: 8px;
}

.table td {
    text-align: center;
}

.center_image {
    display: block;
    margin-left: auto;
    margin-right: auto;

}


.top-buffer { margin-top:20px; }